
@media  screen and (max-width:800px){
    #home{
        height: calc(100vh - 80px);
        overflow-x: hidden;
    }
    .home-content{
        padding: 20px;
    }
    .home-content h5{
        font-size: 0.9em;
    }
    .home-content .profession{
        font-size:1.75em;
    }
    .home-content aside{
        font-size: 0.6em;
        display: inline-flex;
        letter-spacing: 2;
        width: 100%;
        justify-content: space-between;
        color:azure;
    }
    .my-works ul{
        list-style: none;
        display: inline-flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    .my-works ul li{
        padding: 10px;
    }
    .my-works ul li a{
        font-size: 0.8em;
        color: dodgerblue;
    }
    .my-works ul li .child-1{
        text-transform: capitalize;
        color: white;
    }
    .mini-carousel{
        overflow: hidden;
        margin: 0;
    }
    .mini-carousel img{
        width: 280px;
        max-width:70%;
       
    }
    .mini-carousel{
        font-size: 1.1em;
        color: lemonchiffon;
    }
}