@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    padding:0;
    margin:0;
    font-family: 'Roboto';
}
body{
    margin:0;
    background: #fff;
}
:root{
    --black: #000;
    ---white: #fff;
    --black2: #555;
}

main{
    position:relative;
    max-width: 100%;
    width: 100%;
    z-index: 1;
}
a{
    color:#55382E;
    text-decoration:none;
    text-transform:none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0,0);
}
.menu a{
    font-size: 1.0em;

}
.menu a:hover{
    color: dodgerblue;
}
#top-menu:hover{
    color: dodgerblue;
}
.container{
    font-size: 1.5em;
    position: relative;
    z-index: 1;
}
.content{
    height: 100vh;
    max-width: 100%;
    margin: 0;
    position: relative;   
}
/* HOME */
#home{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/Coding/Coding_SVG.svg) right no-repeat;
    background-size: 100% 90%;
    color: #fff;
    max-width: 100%;
}
#home .selling{
    padding-top: 120px;
    width: 600%;
    max-width: 60%;
    margin: auto;

}
#home .selling .title-head{
    font-size: 1.75em;
    line-height: 1.75em;
    letter-spacing: 2;
    color: yellow;
}
#home .selling .description{
    font-size: 1.0em;
    letter-spacing:1;
    text-align: justify;
    line-height: 1.75em;
}
#home .selling .description a{
    color: #000;
    background-color: yellow;
    padding: 2px;
    border-radius: 4px;
}
#home .function{
    font-size: 0.75em;
    padding: 10px;
    margin: auto;
    width: 60%;
    color: #ADD8E6;
    cursor: default;

}
#home .project-preview{
 display: inline-flex;
 width: 100%;
 justify-content: center;
 position: absolute;
 bottom: 50px;
}
#home .project-preview a{
    width: 120px;
    background-color: yellow;
    margin: 15px;
    color: #000;
    text-align: center;
    padding: 5px;
    font-size:0.75em;
    border-radius: 0px;
    text-transform: capitalize;
    
}
#home .project-preview a:hover{
    letter-spacing: 3;
    -moz-box-shadow: 0 0 10px #fff;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;  
}

@media screen and (max-width: 800px){
   #home{
       height: calc(100vh - 80px);
       overflow-x: hidden;
   }
    #home .selling{
        padding: 20px;
        padding-top: 70px;
        width: 90%;
        max-width :90%;
        margin: 0; 
        overflow-x: hidden;
    }
    #home .selling .title-head{
        font-size: 1.25em;
        line-height: 1.25em;
        color: yellow;
    }
    #home .selling .description{
        font-size: 0.7em;
        letter-spacing:2;
        text-align: justify;
        line-height: 1.75em;
    }
    #home .selling .description a{
        color: #000;
        background-color: yellow;
        padding: 2px;
        border-radius: 4px;
    }
    #home .function{
        font-size: 0.6em;
        padding: 10px;
        margin: auto;
        width: 50rem;
        color: #ADD8E6;
        cursor: default;
    
    }
    #home .project-preview{
     display: inline-flex;
     width: 100%;
     max-width:100%;
     justify-content: center;
     position: absolute;
     left: 0;
     right: 0;
     bottom: 5w0px;
    }
    #home .project-preview a{
        width: 120px;
        background-color: yellow;
        margin: 15px;
        color: #000;
        text-align: center;
        padding: 8px;
        font-size:0.5em;
        border-radius: 0;
        font-weight: bold;
        text-transform: capitalize;
        
    }
    #home .project-preview a:hover{
        letter-spacing: 2;
        -moz-box-shadow: 0 0 10px #fff;
        -webkit-box-shadow: 0 0 10px #fff;
        box-shadow: 0 0 10px #fff;
      
    }
}
