nav.menu{
    width: 100%;
    display:inline-flex;
    justify-content: space-between;
    -moz-box-shadow: 0 0 10px #000000;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;
    position: relative;
    height: 50px;
    
}
.hidden-menu-item{
    display: none;
}
div.menu-list ul{
    list-style: none;
    display: inline-flex;
    margin-right: 135px;
    margin-top: 15px;
}
.menu-list ul li{
    padding-left:30px;
    margin-left: 0px;
}
.menu-logo{
    margin-top: 15px;
    margin-right: 10px;
}

.menu-logo .logo{
    text-align:center;
    margin-top:15px;
    margin-left: 10px;
}


.menu-secondary{
    display: none;
}
.title-min{display: none;}
.menu-harmburger{
    display: none;
}

/* MOBILE */
@media only screen and (max-width: 900px) {
    nav.menu{
        position: relative;
        top: 0px;
        left: 0;
        width: 100%;
        z-index: 3;      
    }    
    .menu-list{
        display: none;
        transition: width 2s linear 1s;       
    }
    .visible{
        position: absolute;
        display: block;
        top: 49px;
        right: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        color: #555;        
        text-align: center;
        background: #fff; 
        transition: width 2s linear 1s;
        outline: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -moz-tap-highlight-color: rgba(0, 0, 0, 0);
        tap-highlight-color: rgba(0, 0, 0,0);  
    }
    
    .menu-logo a{
        color: #555;
        cursor: pointer;
    }
    
    div.menu-list ul{
        list-style: none;
        display: table;
        margin: auto;
    }
    .menu-list ul li{
        padding: 10px;
    }
    .title-min{display: none}
    .hidden-menu-item{
        display: inline-block;
        background-color: dodgerblue;
        position: relative;
        color: #fff;
        margin: 5px;
        text-align: center;
        display: inline-flex;
        justify-content: space-between;
        padding: 5px;
        padding-top: 8px;
        font-size: 1.2em;
        border-radius:5px;
        cursor: pointer;
    }   
    
    .menu-harmburger{
        margin-right: 10px;
        display: inline-block;
        font-size:1.70em;
        margin-top: 4px;
        color: #555;
        z-index: 5;
        position: relative;
        cursor: pointer;
        outline: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -moz-tap-highlight-color: rgba(0, 0, 0, 0);
        tap-highlight-color: rgba(0, 0, 0,0);
    }
    .menu-harmburger:hover{
        color:dodgerblue;
    }
    
}
@media (max-width: 575px){
    
    .menu-secondary{
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: dodgerblue;     
        width:100vw;
        max-width: 100%;
        z-index: 4;
    }
    .menu-secondary ul{
        display: inline-flex;
        justify-content: space-between;        
        list-style: none;
        width: 100%;
    }
    .menu-secondary ul li{
        text-align: center;
        padding: 10px;
    }
    .menu-secondary ul li a{
        color: #fff;
    
    }
    .title-min{display: inline-flex;}
    .title{
        display: none;
    }
    .hidden-menu-item{display: none;}
}

